body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: url("paper.png");
}

button {
  outline: none;
  padding: 7px;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:active {
  color: #000;
}

a {
  text-decoration: none;
}

b {
  text-shadow: 1px 1px 1px #555;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  width: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 40px;
}

.game-info ol {
  list-style-position: inside;
  padding: 0;
}

.board {
  margin: 25px;
  margin-top: 42px;
}

.status {
  font-size: 20px;
  font-weight: bold;
}